# Environment
.env

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

data.json